<mat-card style="margin:10px">


    <h1 style="text-align: center;">Route-4 : A count down timer page  with  four  sibling components  in it. (Using Services and Subjects)  </h1>
    <hr>
    <br>
<div class="inline-box">
    <div class="child-row" style="border: 1px solid black;">
        <app-count-down-timer ></app-count-down-timer>
        </div>
        <div class="child-row" style="border: 1px solid black;">
                <app-counter-actions  ></app-counter-actions>
                <app-counter-action-logger ></app-counter-action-logger>
            </div>    
</div>
<div class="inline-box1">
    <div class="child-row" style="border: 1px solid black; padding: 0px;">
        <app-action-counter ></app-action-counter>
    </div>  
</div>
<br>
</mat-card>