table {
    width: 100%;
    margin-top: 10px;
  
  }
  
  th.mat-sort-header-sorted {
    color: black;
    text-align: center;
  }
  
  #students {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 30px;
  }
  td,th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  #students th {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: orange;
    color: white;
    height: 30px;
  }

  th{
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:orange;
    color: white;
    text-align: center;
    font-size: 16px;
  }